In [1]:
               #Assignment-1
#1). Create a tuple called data with two values, (1, 2) and (3,4)
#ans/code:-
data=((1,2),(3,4)) #creating tuple named data

In [2]:
data #checking what has been stored in the tuple

((1, 2), (3, 4))

In [3]:
type(data)  # checking the type of the variable

tuple

In [5]:
#2). create the list [4,3,2,1] and assign it to variable numbers.
#ans/code:-
numbers=[4,3,2,1] # creating list with the name of numbers

In [6]:
numbers #checking what has been stored in the list

[4, 3, 2, 1]

In [7]:
type(numbers) # checking the type of the variable

list

In [8]:
#3).create a copy of the number list using [:]
#ans/code:-
numbers

[4, 3, 2, 1]

In [9]:
copy_of_numbers_list=numbers[:] #here i am selecting all the elements in the list named numbers by giving colon and storing them into the list named copy_of_numbers_list

In [10]:
copy_of_numbers_list #checking what has been stored in the list

[4, 3, 2, 1]

In [11]:
type(copy_of_numbers_list)  # checking the type of the variable

list

In [12]:
#4).Sort the numbers list in numerical order
#ans/code:-
numbers=[7,5,7,44,3,65,334,54,9] # creating list with the name of numbers and putting some random numbers

In [13]:
type(numbers) # checking the type of the variable

list

In [14]:
numbers.sort() #using sort function to sort the list in asscending order

In [15]:
numbers # checking the new sorted list

[3, 5, 7, 7, 9, 44, 54, 65, 334]

In [16]:
#5). Create a tuple "cardinal_numbers" with "first", "second" and "third"
#ans/code:-
cardinal_numbers=("first", "second", "third")

In [17]:
cardinal_numbers #checking what has been stored in the tuple

('first', 'second', 'third')

In [18]:
type(cardinal_numbers) # checking the type of the variable

tuple

In [19]:
#6). display the second object in the tuple
#ans/code:-
name=("blue","orange","pink","red") # creating tuple

In [20]:
type(name) # checking the type of the variable

tuple

In [21]:
name #checking what has been stored in the tuple

('blue', 'orange', 'pink', 'red')

In [22]:
name2=list(name) # converting the tuple into list using list() function and assigning it to "name2" named list

In [23]:
name2 # checking the list variable

['blue', 'orange', 'pink', 'red']

In [24]:
name2[1] # displaying the second variable of the list "name2"

'orange'

In [25]:
#7). Unpack the tuple into three strings and display them
#ans/code:-
fruits=('apple', 'grapes', 'banana', 'kiwi') # creating tuple

In [26]:
fruits # checking the tuple values

('apple', 'grapes', 'banana', 'kiwi')

In [27]:
(x,y,*z)=fruits # unpacking the tuple using asterisk method, we use this when we try to unpack tuple but the number of variables are less than  number of values in the tuple
print(x) # using variable x to print the first value 
print(y) #using variable y to print the second value
print(z) #using variable z with * to print the remaining values of the tuple

apple
grapes
['banana', 'kiwi']

In [1]:
#8).Create a tupple containing the letters of your name from a string
#ans/code:-
var=str(input("[please enter your name:-")) # taking input from the user in string format
print("thank you for your input:- ") # printing a thank you message for giving the input
list1=[] # creating a blank list to add items one by one using loop
for i in var: # creating loop to access single-single values from string
    list1.append(i) # adding the current letter from the string to list
print("displaying the name entered by you:)",list1) # displaying the list 
name_tuple=tuple(list1) # coverting the list into tupple

[please enter your name:-sneha
thank you for your input:-
displaying the name entered by you:) ['s', 'n', 'e', 'h', 'a']

In [2]:
name_tuple # displaying the letters of the string in tupple format

('s', 'n', 'e', 'h', 'a')

In [3]:
#9). Check whether or not x is in my_name
#ans/code:-
string=str(input("enter your name:- ")) # taking input from the user in string format
st=string.upper()
print("you have entered:- ",st) # displaying the input taken from user
print("checking if x is present in your name--") #checking if x is present in given string
if "X" in st: #using if condition to check if x present or not
    print("x found in your name") # displaying the message that x found in string
else:
    print("x not found in your name") # displaying the message that x not found in string

enter your name:- sneha
you have entered:-  SNEHA
checking if x is present in your name--
x not found in your name

In [4]:
#10). Check whether or not s is in my_name
#ans/code:-
string2=str(input("enter your name:- ")) # taking input from the user in string format
st2=string2.upper()
print("you have entered:- ",st2) # displaying the input taken from user
print("checking if x is present in your name--") #checking if s is present in given string
if "S" in st2: #using if condition to check if s present or not
    print("S found in your name") # displaying the message that s found in string
else:
    print("S not found in your name") # displaying the message that s not found in string

enter your name:- sneha
you have entered:-  SNEHA
checking if x is present in your name--
S found in your name